<!DOCTYPE html>
<html>

<head>  
  <!-- Website Title -->
  <title><%= user %> - Nodedown</title>
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/static/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
  
  <!-- Navigation Bar -->
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Nodedown</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/<%= user %>/"><%= user %></a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Main Content -->
  <div class="container">
    <!-- Content List -->
    <h1 class="page-header"><%= user %>'s Contents</h1>
    <div class="list-group">
      <% for (var content in contents) { %>
      <a class="list-group-item" href="<%= contents[content] %>"><%= content %></a>
      <% } %>
    </div>
  </div>

</body>

<!-- JQuery -->
<script src="/static/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</html>
